.footer{
    background-color:#2a292b;
    padding-top:50px;
    padding-bottom:50px;
}

.foot-col{
    color:#898989;
    margin-top:30px;
    margin-bottom:30px;
}
.icon-div{
    margin-top:20px;
}
.icons{
    letter-spacing: 30px; 
    color:#898989;
}
.icons:hover{
    color:#ffb606;
}
.footer-hr{
    width:20%;
    border-top: 2px solid #ffb606;
    opacity:1;
}
.col-head{
    color:#f5f4f4;
}
.foot-list{
    list-style-type:none;
    padding-left:0;
}
.foot-links{
    color:#898989;
    text-decoration:none;
}
.foot-links:hover{
    color:#ffb606;
    text-decoration:none; 
}
@media(max-width:900px){
    .col-head{
        font-size:17px;
    }
    .logo{
        font-size:40px;
    }
    .footer{
        padding-top:20px;
        padding-bottom:10px;
    }
}