.loc-div{
    padding:3rem 7rem;
}
.loc-heading{
    color:#ffb606;
}
.loc-text{
    color:#898b8a;
    font-family: 'Lato', sans-serif;
    font-size:larger;
}
.sub-div{
    position:relative;
}
.view-btn{
    position:absolute;
    top:20px;
    right:0;
}
.locname{
    position:absolute;
    left:0;
    bottom:20px;
    color:#f5f4f4;
    padding: 5px 10px;
    background-color:rgba(0,0,0,0.6);
    font-size:1.5rem;
    text-decoration:none;
}
.loc-card:hover .locname{
    color:#ffb606;
}
.loc-card{
    border: 20px solid white;
    margin-top:20px;
    box-shadow: 0 10px 5px grey ;

}
.loc-card:hover{
    border: 20px solid #ffb606;
}

.loc-row{
    margin-top:50px;
     margin-bottom:50px;
}
.loc-hr{
    width:10%;
    margin-top:30px;
    border-top: 2px solid;
    border-top-color: #000000;
    background-color: transparent;
    opacity:1;
}

@media(max-width:900px){
   
    .loc-div{
        padding:3rem 2rem;
    }
    .sub-div{
        text-align:center;
    }
    .view-btn{
        position:unset;
        margin-top:30px;
    }
    .loc-row{
        margin-top:30px; 
        margin-bottom:50px;
   }
   .loc-hr{
    margin:auto;
   }
}

@media(max-width:450px){
    .loc-heading{
        font-size:30px;
    }
    .loc-text{
        font-size:13px;
    }
    .view-btn{
      font-size:15px;
    }
}